<div class="media well">
  <div class="media-left">
    <div class="media-object">
      <%= image_tag("tiy_logo_1.png", size: "100") %>
    </div>
  </div>
  <div class="media-body">
    <h1 class="pull-right">The Iron Stories</h1>
  </div>
</div>

<div class="table-responsive">
  <% @stories.each.with_index do |story, index| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="badge"><%= index + 1 %></span>
        &nbsp;<%= link_to story.title, story.url_link %>
        <div class="pull-right">
          <%= link_to story do %>
          <div class="badge">Edit Post</div>
          <% end %>
        </div>
      </div>
      <div class="panel-body row">
        <%= story.email %>
        <div class="pull-right">
          Created about <%= distance_of_time_in_words(Time.now - story.created_at) %> ago
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="well text-center">
    <div><%= paginate @stories %></div>
    <div><%= page_entries_info @stories %></div>
  </div>
