<div class="page-header well well-sm">
  <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-hand-left"></span>
    &nbsp;Back
  <% end %>
  <%= link_to edit_story_path(@story), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    &nbsp;Edit
  <% end %>
  <%= link_to @story, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-trash"></span>
    &nbsp;Delete
  <% end %>
  <h1>Story Comments</h1>
</div>

<dl class="jumbotron dl-horizontal">
  <h3>
    <dt>Title:</dt>
    <dd><%= link_to @story.title, @story.url_link %></dd>

    <dt>Url link:</dt>
    <dd><%= link_to @story.url_link, @story.url_link %></dd>

    <dt>Email:</dt>
    <dd><%= @story.email %></dd>
  </h3>
</dl>
