<div class="page-header well well-sm">
  <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-hand-left"></span>
    &nbsp;Back
  <% end %>
  <%= link_to edit_story_path(@story), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    &nbsp;Edit
  <% end %>
  <%= link_to @story, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-trash"></span>
    &nbsp;Delete
  <% end %>
  <h1>Story Comments</h1>
</div>

<dl class="jumbotron dl-horizontal">
  <h3>
    <dt>Title:</dt>
    <dd><%= link_to @story.title, @story.url_link %></dd>

    <dt>Url link:</dt>
    <dd><%= link_to @story.url_link, @story.url_link %></dd>

    <dt>Email:</dt>
    <dd><%= @story.email %></dd>
  </h3>
</dl>

<h2>Comments</h2>
<% @story.comments.each do |comment| %>
  <p>
    <% if comment.created_by %>
      <strong><%= comment.created_by.name %>: </strong>
    <% end %>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@story, @story.comments.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body, class: "form-control" %>
  </p>
  <p>
    <%= f.submit class: "btn btn-inverse"%>
  </p>
<% end %>
